<owm-spacer [owmSpace]="64"></owm-spacer>

<owm-card 
  owmTitle="Clima nas principais cidades" 
  styleClass="mt-5 mr-4 ml-4">
  
  <p-dataView 
    #dataView 
    [paginator]="true" 
    [rows]="10" 
    filterBy="name" 
    layout="grid" 
    [value]="m_CityWeatherList" 
    emptyMessage="Nenhuma previsão climática cadastrada">
  
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row justify-content-between">
        <div class="p-input-icon-left mb-2 mb-md-0">
          <i class="pi pi-search"></i>
          <input
            pInputText 
            type="text" 
            placeholder="Nome da cidade" 
            [(ngModel)]="m_CityNameFilter"
            (input)="dataView.filter(onCityNameFilter($event))">
        </div>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
  
    <ng-template let-service pTemplate="listItem">
      <div class="col-12">
        
      </div>
    </ng-template>
  
    <ng-template let-service pTemplate="gridItem">
      <div class="col-12 md-4 lg-3">
        
      </div>
    </ng-template>
  
  </p-dataView>

</owm-card>
