<!-- <p-dataView 
  #dataView [value]="m_Services" 
  [paginator]="false" 
  [rows]="10" 
  filterBy="Name" 
  layout="grid"
  emptyMessage="Nenhuma previsão climática cadastrada.">

  <ng-template pTemplate="header">
    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between">
      <div class="p-input-icon-left p-mb-2 p-mb-md-0">
        <i class="pi pi-search"></i>
        <input 
          pInputText 
          type="text" 
          placeholder="Nome do serviço" 
          (input)="dataView.filter($event.target.value)">
      </div>
      <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
    </div>
  </ng-template>

  <ng-template let-service pTemplate="listItem">
    <div class="p-col-12 p-md-4 p-lg-3">
      
    </div>
  </ng-template>

  <ng-template let-service pTemplate="gridItem">
    <div class="p-col-12 p-md-4 p-lg-3">
      
    </div>
  </ng-template>

</p-dataView> -->