<owm-spacer [owmSpace]="64"></owm-spacer>

<owm-card 
  owmTitle="Clima nas principais cidades" 
  styleClass="mt-5 mr-5 ml-5">
  
  <p-dataView 
    #dataView 
    [paginator]="true" 
    [rows]="10" 
    filterBy="name" 
    layout="grid" 
    [value]="doGetCityWeatherList()" 
    emptyMessage="Nenhuma previsão climática cadastrada">
  
    <ng-template pTemplate="header">
      <div class="flex flex-column md:flex-row justify-content-between">
        <div class="p-input-icon-left mb-2 mb-md-0">
          <i class="pi pi-search"></i>
          <input
            pInputText 
            type="text" 
            placeholder="Nome da cidade" 
            [(ngModel)]="m_CityNameFilter"
            (input)="dataView.filter(onCityNameFilter($event))">
        </div>
        <p-dataViewLayoutOptions></p-dataViewLayoutOptions>
      </div>
    </ng-template>
  
    <ng-template let-item pTemplate="listItem">
      <div class="p-3 col-12">
        
      </div>
    </ng-template>
  
    <ng-template let-item pTemplate="gridItem">
      <div class="p-3 col sm:col-12 md:col-4 lg:col-3 xlg:col-2">
        <owm-weather-item [owmWeather]="item" (click)="doAddCityWeather()"></owm-weather-item>
      </div>
    </ng-template>
  
  </p-dataView>

</owm-card>
