/* You can add global styles to this file, and also import other style files */

/* Tema do PrimeNG (Saga Blue) */
@import '~primeng/resources/themes/saga-orange/theme.css';
@import './components.css';
@import './styles.css';

body, html {
  margin:0;
  padding:0;
  background-color: var(--yellow-100);
  font-family: var(--font-family);
  font-weight: 400;
  color: var(--text-color);
  -webkit-font-smoothing: antialiased;
}
