.owm-header-container {
  height: 64px;
  width: 100%;
  background-color: var(--orange-400);
  border-bottom: 1px solid var(--yellow-300);
}

.owm-header-image {
  top: 50%;
  width: 48px;
  height: 48px;
  position: relative;
  transform: translateY(-50%);
}