.owm-header-container {
  height: 64px;
  width: 100%;
  background-color: var(--orange-400);
  border-bottom: 1px solid var(--yellow-300);
}

.owm-header-image-div {
  flex: 1;
  justify-content: center;
  align-items: center;
}

.owm-header-image {
  position: relative;
}